* {
  margin: 0;
  padding: 0;
  }

body{
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: black;
  color: white;
  padding: 30px;
}

.main-section {
  background-color: grey;
  height: 75vh;
}

footer {
  background-color: brown;
  height: 16vh;
}
/* use this to style the book card */
.card {    
  width: 25%;
  height: 40%;
  background-color: whitesmoke;
  /* margin: 10px; */
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card>* {
  margin: 10px;
}

.book-shelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
